body{
    background:#0f111a;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    width:95%;
    max-width:1400px;
    margin:auto;
    padding:30px;
}

input,
select,
button{
    width:100%;
    padding:15px;
    margin-top:10px;
    border-radius:10px;
    border:none;
}

button{
    cursor:pointer;
    font-weight:bold;
}
.rank-icon{
    width:80px;
    cursor:pointer;
    margin:5px;
    transition:0.2s;
}

.rank-icon:hover{
    transform:scale(1.1);
}
.ranks{
    display:flex;
    gap:10px;
    justify-content:center;
}

.rank-icon{
    width:70px;
    cursor:pointer;
    transition:0.2s;
}

.rank-icon:hover{
    transform:scale(1.1);
}
